In [ ]:
"""
first solve the smallest problem (eg : floor 0, flor 1).
store answer in list/table
build bigger answer from small answer.

this is tabulation (bottom-up)
fib(5)-fib(4)+fib(3)

dp[i]=?
"""

In [ ]:
"""In 1D DP , the state depended on a single index (like dp[i] for climbing stairs)
In 2D DP, the state depends on two indices â€“ typically i (row) and j (column).

dp[i][j] = some computed value for cell (i, j) in a table/grid.
Example:
    For counting paths = number of ways to reach (i, j)
    For min cost path = minimum sum to reach (i, j)

# We have a robot starting at (0, 0), can move right or down.
"""
'''Transition formula
dp[i][j] = dp[i-1][j] + dp[i][j-1]
dp[i-1][j]: ways from above
dp[i][j-1]: ways from left
'''

In [4]:
def find(x, y, path):  # R = Right , D = Down
    if x == 2 and y == 2:
        print(path)  # X = down, Y = right
        return

    if x + 1 <= 2 and grid[x + 1][y] == 0:
        find(x + 1, y, path + "D")
    if y + 1 <= 2 and grid[x][y + 1] == 0:
        find(x, y + 1, path + "R")


grid = [
    [0, 0, 0],
    [0, 0, 0],
    [0, 0, 0]
]

find(0, 0, "")

DDRR
DRDR
DRRD
RDDR
RDRD
RRDD

In [ ]:
def find(x,y,path,memo,c=0):
    
    if x==2 and y==2:
        return len[path]
    if (x,y,path) in memo:
        return memo[(x,y,path)]
    paths=[]
    # move down
    if x+1 <=2 and grid[x+1][y]==0:
        paths+=find(x+1,y,path+"D",memo)
    # move right
    if y+1 <=2 and grid[x][y+1]==0:
        paths+=find(x,y+1,path+"R",memo)

    memo[(x,y,path)]=paths
    c+=1
    return paths
grid=[
    [0,0,0],
    [0,1,0],
    [0,0,0]
]

# to you this function
memo={}
all_paths=find(0,0,"",memo)
print(all_paths)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [42]:
def find(x, y, path):  # R = Right , D = Down
    if x == 2 and y == 2:
        print(path)  # X = down, Y = right
        return 1
    count=0
    if x + 1 <= 2 and grid[x + 1][y] != 0:
        count+=find(x + 1, y, path + "D")
    if y + 1 <= 2 and grid[x][y + 1] != 0:
        count+=find(x, y + 1, path + "R")
    return count


grid = [
    [2, 1, 1],
    [1, 5, 1],
    [1, 4, 1]
]

find(0, 0, "")

DDRR
DRDR
DRRD
RDDR
RDRD
RRDD

6

In [19]:
def find(x,y,path,memo):
    if x==2 and y==2:
        return [path]
    if (x,y,path) in memo:
        return memo[(x,y,path)]
    paths=[]
    # move down
    if x+1 <=2 and grid[x+1][y]>=0:
        paths+=find(x+1,y,path+"D",memo)
    # move right
    if y+1 <=2 and grid[x][y+1]>=0:
        paths+=find(x,y+1,path+"R",memo)

    memo[(x,y,path)]=paths
    
    return paths
grid=[
    [0,0,0],
    [0,0,0],
    [0,0,0]
]

# to you this function
memo={}
all_paths=find(0,0,"",memo)
print(all_paths)

['DDRR', 'DRDR', 'DRRD', 'RDDR', 'RDRD', 'RRDD']

In [35]:
# Longest substring without repeat
# Input - "abcabcbb"

def l_s(s):
    n = len(s)
    m_l = 0
    for i in range(n):
        seen = set()
        for j in range(i, n):
            if s[j] in seen:
                break
            seen.add(s[j])
            m_l = max(m_l, j - i + 1)
    return m_l

print(l_s("abcabcdadb"))

4

In [43]:
def longest_unique_substring(s):
    last_seen = {}  # store last position of each char
    dp = [0] * len(s)  # dp[i] = longest unique substring ending at i
    max_len = 0

    for i in range(len(s)):
        if s[i] in last_seen:
            distance = i - last_seen[s[i]]
            dp[i] = min(dp[i - 1] + 1, distance)
        else:
            dp[i] = dp[i - 1] + 1 if i > 0 else 1

        last_seen[s[i]] = i
        max_len = max(max_len, dp[i])

    return max_len

print(longest_unique_substring("abcabcbb"))

3

In [44]:
# Finding the minimum path sum
def find(x, y, cost):
    if x == 2 and y == 2:
        return cost + grid[x][y]  # Add final cell value

    costs = []

    if x + 1 <= 2:  # Move Down
        costs.append(find(x + 1, y, cost + grid[x][y]))
    if y + 1 <= 2:  # Move Right
        costs.append(find(x, y + 1, cost + grid[x][y]))

    return min(costs)

grid = [
    [2, 1, 1],
    [1, 5, 1],
    [1, 4, 1]
]

print("Minimum Path Sum:", find(0, 0, 0))

Minimum Path Sum: 6

In [48]:
import csv

# Step 1: Read the CSV file
with open(r"C:\Users\visha\OneDrive\Desktop\file handling\excell.csv", "r") as csvfile:
    reader = csv.reader(csvfile)
    rows = list(reader)  # Read all rows into a list

# Step 2: Write those rows into a TSV file
with open("data_convered.tsv", "w", newline="") as tsvfile:
    writer = csv.writer(tsvfile, delimiter="\t")  # delimiter is tab
    writer.writerows(rows)

print("Converted CSV to TSV successfully!")

Converted CSV to TSV successfully!

In [50]:
import csv

with open(r'C:\Users\visha\OneDrive\Desktop\file handling\excell.csv',encoding='utf-8', newline='') as f:
    reader = csv.DictReader(f)
    for row in reader:
        # row is an OrderedDict: column_name -> value
        print(row['gender'], row['income'])

KeyError: 'gender'

In [56]:
import csv

with open(r'C:\Users\visha\OneDrive\Desktop\file handling\excell.csv') as infile:
    reader = csv.reader(infile)
    rows = list(reader)

# Clean headers: trim spaces and lowercase
headers = [h.strip().lower() for h in rows[0]]

# Clean data rows: trim spaces from each value
cleaned_rows = [headers]
for row in rows[1:]:
    cleaned_row = [val.strip() for val in row]
    cleaned_rows.append(cleaned_row)

# Write cleaned CSV
with open("cleaned_data.csv", "w", newline='') as outfile:
    writer = csv.writer(outfile)
    writer.writerows(cleaned_rows)
print("successfully saved")

successfully saved

In [57]:
import pandas as pd
data=pd.read_csv(r"C:\Users\visha\OneDrive\Desktop\file handling\excell.csv")
data

  gender    income
0      F  51298.49
1      F  41106.76
2      M  39799.93
3      M  46048.91
4      F  45790.18
5      M  40940.36
6      M  41761.21
7      M  66451.94
8      F  81696.68

In [67]:
data.head()

  gender    income
0      F  51298.49
1      F  41106.76
2      M  39799.93
3      M  46048.91
4      F  45790.18

In [66]:
data.tail()

  gender    income
4      F  45790.18
5      M  40940.36
6      M  41761.21
7      M  66451.94
8      F  81696.68

In [64]:
data.describe()

             income
count      9.000000
mean   50543.828889
std    14321.268101
min    39799.930000
25%    41106.760000
50%    45790.180000
75%    51298.490000
max    81696.680000

In [61]:
data.isnull().sum()

gender    0
income    0
dtype: int64

In [63]:
#fillna method
data.fillna(0)

  gender    income
0      F  51298.49
1      F  41106.76
2      M  39799.93
3      M  46048.91
4      F  45790.18
5      M  40940.36
6      M  41761.21
7      M  66451.94
8      F  81696.68